@import '../theme.scss';

.privacy {
  @include var(background-color, background-color);
  display: flex;
  justify-content: center;

  &__container {
    @include var(width, max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;
  }
}
