@import '../theme.scss';

.blog {
  @include var(background-color, background-color);
  display: flex;
  justify-content: center;

  &__container {
    @include var(width, max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    position: relative;
    overflow: hidden;
    @include var(height, blog-image-height);

    &:after {
      content: 'Blog';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 5em;
      color: white;
      background-color: rgba(#000, 0.5);
    }
  }

  &__featured-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__posts {
    @include var(max-width, blog-post-width);
  }

  &__more {
    margin: 16px;
    padding: 16px 32px;
    color: white;
    text-transform: uppercase;
    @include var(background-color, accent-color);
    border-radius: 10rem;
  }

  hr {
    width: 70%;

    &:last-child {
      display: none;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    padding: 16px;

    &__title {
      @include var(font-size, blog-title-font-size);
    }

    &__time {
      margin-bottom: 8px;
      display: block;
      font-weight: 500;
      @include var(color, blog-time-color);
    }

    &__img {
      align-self: center;
      width: 100%;
      max-height: 300px;
      object-fit: cover;
    }

    &__body {
      font-size: 1.5em;
      line-height: 1.5em;
    }
  }
}
